.btn_cocacola{
    font-family: 'Coca-Cola', sans-serif;
                                                
}


.hover-4 {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    padding-top: 105px;
  --h: 1.2em;  
  --c: #cececea1; 
  font-size: 40px;
  line-height: var(--h);
  color: #0000;
  text-shadow: 
    0 var(--h) #9a9ee3,
    0 0 #000;
    box-shadow: 0 var(--_t, var(--h)) var(--c);
  clip-path: inset(0 0 1px 0);
  transition: 0.4s, clip-path 0.4s 0.4s;
}
.hover-4:hover {
  clip-path: inset(0 0 calc(-1*var(--h)) 0);
  transition: 0.4s 0.4s, clip-path 0.4s;
}

.hover-4 body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-content: center;
  background: pink;
}

.hover-4 h3 {
  font-family: system-ui, sans-serif;
  font-size: 3rem;
  margin:0;
  cursor: pointer;
  padding: 0 .1em;
}

:root {
    --mainColor: #fffdfb;
  }

  .hover-5{
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    padding-top: 105px;
    font-size: 30px;
    font-weight: 600;
  }
  .hover-5 body {
   
    align-items: center;
    display: flex;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    height: 100vh;
    justify-content: center;
  }

  a#btn_colorrun {
    background:
       linear-gradient(
         to right,
         red, orange, yellow, green, blue, indigo, violet
       );
    background-repeat: repeat-x;
    background-size: 300%;
    color: #ffffff;
    padding-left: 10px;
    text-decoration: none;
    transition: background 0.3s;
  }

  a#btn_colorrun:hover {
   
         background-position: 100%; 

  }
.hover-6 :root {
  --mainColor: #101010;
 
}

.hover-6{
    color: #000;
    display: inline-block;
    font-family: 'Gabarito', sans-serif;
    padding-top: 105px;
    font-size: 30px;
    font-weight: 600;
    background-color: #ffe1a5;
    background-size:cover
  
}

.hover-6 body {
    align-items: center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    height: 100vh;
    justify-content: center;
  }

  a#btn_cartoonnetwork {
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    color: var(--mainColor);
    text-decoration: none;
  }

a#btn_cartoonnetwork:hover {
  
  text-shadow: 0px 0px 0 rgb(208,138,28),1px 1px 0 rgb(165,123,26),2px 2px 0 rgb(242,185,100),3px 3px 0 rgb(227,167,187),4px 4px 0 rgb(182,129,63),5px 5px 0 rgb(161,117,50),6px 6px 0 rgb(144,103,39),7px 7px 0 rgb(130,91,31),8px 8px 0 
rgb(120,83,25),9px 9px 0 rgb(108,73,20),10px 10px 0 rgb(93,63,13),11px 11px 0 rgb(60,54,12),12px 12px 0
rgb(63,41,8),13px 13px 0
}



  
  .hover-7{
    background:
      radial-gradient(100% 100% at top left,#fff 98%,#62b7bd) ,
      radial-gradient(100% 100% at bottom right,#fff 98%,#e16547) ,
      radial-gradient(100% 100% at top left,#6be2d2 98%,#0000) ,
      radial-gradient(100% 100% at bottom right,#f16533 98%,#df5c3400) ,
      #000;
    -webkit-background-clip: text,text,padding-box,padding-box,text;
            background-clip: text,text,padding-box,padding-box,text;
    background-size: 0% 0%;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    transition: 0.5s;
    font-size: 35px;
    font-family: 'Libre Baskerville', serif;
    color: #2e2e2e;
    padding-top: 105px;


  }

  .hover-7 body{

    font-size: 30px;
    align-items: center;
  }
  
  .hover-7:hover {
    background-size: 50% 100%;
    }
  